<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<p class="eslogan">Mejorar tu vision es nuestra mision</p>
<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title class="ion-text-center">Ingresa con tu cuenta</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <form [formGroup]="formularioLogin">
      <ion-item fill="outline" class="login">
        <ion-input placeholder="Ingresa tu correo" formControlName="email" type="email" clear-input="true"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline" class="login">
        <ion-input type="{{showPassword ? 'text' : 'password'}}" clear-input="true" placeholder="Ingresa la contraseña" formControlName="password"></ion-input>
        <ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="showPassword = !showPassword"></ion-icon>
      </ion-item>
        <ion-text class="subrayado" *ngIf="showRecoverPasswordOption" routerLink="/forgot-pass" tappable >¿Olvidaste tu contraseña?</ion-text>
      <br>
      <br>
      <ion-button [disabled]="!formularioLogin.valid" (click)="doCheck()" tappable>
        Ingresar
      </ion-button>
      <br>
      <br>
      <ion-text>¿No tienes una cuenta?</ion-text>
      <br>
      <ion-button routerLink="/registro">
        Registrate
      </ion-button>
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>