.imagen{
    width: 150px;
    height: 150px;
    margin-left: 100px;
}
ion-content.background{
    --background: url(https://assets.hongkiat.com/uploads/minimalist-mobile-wallpapers/original/05.jpg);
}

ion-card.opacity{
    opacity: .80;
}


//PACIENTES
//nombre, apellido m, ap p, direccion, colnia, poblacion, cp, telefono, ocupacion, edad, sexo y referido



