<ion-header>
  <ion-toolbar color="medium">
    <ion-title> Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-card-header>
    <ion-card-title>Ingresa con tu cuenta</ion-card-title>
  </ion-card-header>

  <ion-card class="imagen">
    <img src="assets\img\icono.png"/>
  </ion-card>
  <ion-card class="opacity">
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item fill="outline" class="login">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input placeholder="Ingresa tu Nombre"></ion-input>
        </ion-item>
        <br>
        <ion-item fill="outline" class="login">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingresa la contraseña"></ion-input>
        </ion-item>
        <ion-item class="login">
          <ion-button fill="clear" routerLink="/forgot-pass">¿Olvidaste tu contraseña?
          </ion-button>
        </ion-item>
      </form>
      <br>

      <ion-button>
        Ingresar
      </ion-button>
      <br>
      <br>
      <ion-text>¿No tienes una cuenta?</ion-text>
      <br>
      <ion-button routerLink="/registro">
        Registrate
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>