<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
    <ion-card-title class="ion-text-center">Ingresa con tu cuenta</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <form [formGroup]="formularioLogin">
      <ion-item fill="outline" class="login">
        <ion-input placeholder="Ingresa tu correo" formControlName="email" type="email"></ion-input>
      </ion-item>
      <br>
      <ion-item fill="outline" class="login">
        <ion-input type="password" placeholder="Ingresa la contraseña" formControlName="password"
          type="password"></ion-input>
      </ion-item>
        <ion-text class="subrayado" *ngIf="showRecoverPasswordOption" routerLink="/forgot-pass" tappable >¿Olvidaste tu contraseña?</ion-text>
      <br>
      <br>
      <ion-button [disabled]="!formularioLogin.valid" (click)="doCheck()" tappable>
        Ingresar
      </ion-button>
      <br>
      <br>
      <ion-text>¿No tienes una cuenta?</ion-text>
      <br>
      <ion-button routerLink="/registro">
        Registrate
      </ion-button>
    </form>
  </ion-card-content>
  </ion-card>
</ion-content>