<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title class="ion-text-center">REGISTER</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="formularioRegistro">
        
        <ion-item fill="outline" class="register">
          <ion-label position="floating" color="light">Enter your username</ion-label>
          <ion-input formControlName="usuario" type="text"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="name" type="text" placeholder="José Maria"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Apeidos</ion-label>
          <ion-input formControlName="lastname" type="text" placeholder="Morelos"></ion-input>
          <ion-icon name="people-circle-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Correo</ion-label>
          <ion-input formControlName="email" type="email" placeholder="Ejemplo@gmail.com"></ion-input>
          <ion-icon name="mail-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Télefono</ion-label>
          <ion-input formControlName="phone" type="number" placeholder="3521579617"></ion-input>
          <ion-icon name="call-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Edad</ion-label>
          <ion-input formControlName="age" type="number" placeholder="Ejemplo:18"></ion-input>
          <ion-icon name="hourglass-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">¿Has usado lentes?¿Si o no?</ion-label>
          <ion-input formControlName="used" type="text" placeholder="Si/no"></ion-input>
          <ion-icon name="glasses-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-label position="floating">Introduce tu Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
          <ion-icon name="key-outline" slot="end"></ion-icon>
        </ion-item>
        <hr>
        <ion-button (click)="doSave()">
          Registrar cuenta
        </ion-button>
      </form>
      <br>


    </ion-card-content>
  </ion-card>
</ion-content>