<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">REGISTER</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <form [formGroup]="formularioRegistro">

        <ion-item fill="outline" class="register">
          <ion-input formControlName="username" type="text" clear-input="true" required="true" [clearOnEdit]="true"
            placeholder="Enter your username"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="name" type="text" clear-input="true" required="true" [clearOnEdit]="true"
            placeholder="Enter your name"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="lastname" type="text" clear-input="true" required="true" [clearOnEdit]="true"
            placeholder="Enter your lastname"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="email" type="email" clear-input="true" required="true" [clearOnEdit]="true"
            errorText="invalid email or in use" placeholder="Enter your e-mail"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="password" type="password" clear-input="true" required="true" [clearOnEdit]="true"
            placeholder="Enter your password"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="phone" type="number" clear-input="true" required="true" [clearOnEdit]="true"
            inputmode="numeric" pattern="[0-9]*" placeholder="Enter a phone number"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="age" type="number" clear-input="true" required="true" [clearOnEdit]="true"
            inputmode="numeric" pattern="[0-9]*" placeholder="Your age"></ion-input>
        </ion-item>
        <hr>
        <ion-item fill="outline" class="register">
          <ion-input formControlName="used" type="text" clear-input="true" required="true"
            [clearOnEdit]="true" placeHolder="Have your ever used glasses? Yes/No"></ion-input>
        </ion-item>
        <hr>
        <ion-button [disabled]="!formularioRegistro.valid" type="submit" (click)="doSave()">
          Register account
        </ion-button>
        <br>
        <br>
        <ion-text color="light">Already have an account?</ion-text>
        <br>
        <ion-button routerLink="/login">
          Sign In
        </ion-button>
      </form>
      <br>


    </ion-card-content>
  </ion-card>
</ion-content>